*{
	margin: 0;
	padding: 0;
}

body{
	overflow: hidden;
	font-family: 'Segoe UI';

}

#left-box{
	height: 79.5vh;
	width: 15%;
	padding-left: 3vw;
	padding-top: 20vh;
	left: -10;
	border-radius: 10px;

	background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
#left-box img{
	width: 70%;
}

#left-box h1{
	font-weight: 100;
	margin-top: 5vh;
}

#left-box h3{
	font-weight: 100;
	margin-top: 20vh;
}

#left-box h4{
	font-weight: 100;
	margin-top: 1vh;
	font-size: 1.2em;
}

#temp {
	font-size: 3em;	
}

#container {
	height: 10vh;	
	position: absolute;
}

#week{
		height: 100%;
		margin-top: -90vh;	
		margin-left: 20vw;

		display: grid;
		grid-template: 50px / 100px 100px 100px 100px 100px 100px 100px;
		gap: 8vh 6vw;
		justify-content: right;
		align-items: right;
		text-align: center;
		padding-right: 2vw;
		
}

#week img{
	width: 30%;	
}

#week h4{
	font-weight: 100;
	font-size: 1.2em;
}

#card-1, #card-2, #card-3, #card-4,
#card-5, #card-6
{
	height: 25vh;
	width: 12vw;
	border-radius: 5%;
	background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}


#info_today{
	margin-left: 25vw;
	margin-top: 20vh;
	display: grid;
	grid-template: 50px 50px/ 100px 100px 100px;
	gap: 20vh 15vw;
}

#info_today h1 {
	font-weight: 200;	
}

#info_today h3 {
	font-weight: 250;	
}

#uv, #wind, #sunrs, #humid, #visible, #precipprob{
	background: rgba(255, 255, 255, .7);
	border-radius: 5%;
	height: 25vh;
	width: 20vw;
	text-align: center;
}

